body{
    background-image: url(/images/abstract-background-website-landing-page.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    /*height: 95vh;*/
    height: 150vh;
}

#sec_barra{
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 4vw;
}

#sec_barra ul{
    list-style-type: none;
    text-align: center;
}

#sec_barra li{
    display: inline;
    text-align: center;
    margin: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

#sec_barra button{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.4s;
    cursor: pointer;
}
#sec_barra button:hover{
    background-color:rgba(255, 58, 125, 1);
    color: white;
}

